<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:h2:/Users/twer/tmp/h2</property>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"/>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">create</property>

        <mapping package="zhang.abel.datapersistence.hibernate.domain"/>
        <mapping resource="hbm/user.hbm.xml"/>
    </session-factory>
</hibernate-configuration>